*{
  font-family: 'Rajdhani', sans-serif;
  font-family: 'Roboto', sans-serif;
  color: #52575D;
}



.header .header-btn{
  font-size: 38px;
  font-weight: bold;
  background-color: #508FF4;
  color: white;
  padding: 0px 17px;
  border-radius: 20px;
  text-transform: inherit;
}


    /* 

    make layout using grid 

    */

.wrapper {
  /* height: 100%; */
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: 50px auto ;
  grid-gap: 32px;
}

.header {
  grid-column: span 12;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.menu {
  grid-column: span 2;
  border-radius: 20px;
  /* width: 260px; */
  min-width: 260px;
}

.content {
  grid-column: span 10;
  border-radius: 10px;
}

    /* 

    make layout responsive using media query

    */

@media screen and (max-width: 768px) {
  .header {
      grid-column: span 12;
  }

  .menu {
    grid-column: span 12;
    width: 100%;
  }

  .content {
    grid-column: span 12;
  }
}

    /* @media only screen and (max-width: 768px) {
      .hello{
        display: none;
      }
    } */

      /* 
      style for all table 

      */
.tableContainer{
  border-top-right-radius: 20px;
  border-top-left-radius: 20px;
  color: #52575D;
}
.tableHeader .tableRow{
  background-color: #F1F4F7;
}
.tableHeader .tableRow .MuiTableCell-root{
  color: #52575D;
  font-size: 14px;
  font-weight: 700;
  padding-top: 12px;
  padding-bottom: 12px;
}

.tableBody .tableRow .MuiTableCell-root{
  color: #52575D;
  font-size: 14px;
  font-weight: 500;
  padding-top: 12px;
  padding-bottom: 12px;

}


      /* 
      style for input field table 

      */
.rowContainer{
  /* margin-top: 24px; */
  display: flex;
}

.rowContainer .rowItem{
  margin-right: 20px;
  margin-top: 34px;
}
.rowContainer .rowItem label{
  font-size: 16px;
  font-weight: 500;
}

.rowContainer .rowItem input, select{
 font-size: 16px;
 font-weight: 500;
 margin-top: 17px;
 width: 200px;
 padding: 10px;
 height: 20px;
 border-radius: 5px;
 background-color: #EEEEEE;
 border: none;
}

.rowContainer .rowItem textarea{
  font-size: 16px;
  font-weight: 500;
  padding: 10px;
  margin-top: 17px;
  width: 500px;
  padding-left: 10px;
  border-radius: 5px;
  border: 1px solid gray;
}
.rowContainer .itemSmall input{
  width: 78px;
}
.rowContainer .listItem input{
  width: 180px;
}
.rowContainer .itemMid input{
  width: 170px;
}
.rowContainer .itemSmall  select{
  width: 127px;
  height: 40px;
}
.rowContainer .itemBig input{
  width: 270px;
}
.rowContainer .urlItem input{
  width: 440px;
}

.rowContainer .preferences .items span{
  font-size: 16px;
  font-weight: 500;
  margin-left: 20px;
}
.rowContainer .rowItems .items{
  margin-bottom: 13px;
}





.rowContainer .rowItem .rating{
  width: 190px;
  margin-top: 17px;
}

.rowContainer .ratingItem{
  margin-right: 80px;
}


.frombutton{
  font-size: 16px;
  font-weight: 500;
  padding: 13px 40px;
  background-color: #D94B4B;
  color: white;
  border: none;
  border-radius: 5px;
  margin-right: 22px;
  margin-top: 35px;
  margin-bottom: 40px;
  text-transform: uppercase;
}



@media screen and (max-width: 768px) {
  .rowContainer {
     display: flex;
     flex-direction: column;
  }
  .rowContainer .rowItem{
    margin-top: 20px;
  }
  .rowContainer .rowItem textarea{
    width: 350px;
  }
}
